.container{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  background-color: rgba(128, 128, 128, 0.5);
  box-sizing: border-box;
  padding: 2%;
}
.form-container{
  width: 36%;
  margin-left: auto;
  background-color: aliceblue;
  box-sizing: border-box;
  padding: 2%;
  border: 1px solid black;
  box-shadow: 10px 15px 0px;
}
.table-container{
  border-left: 1px solid black;
  width: 56%;
  margin-right: auto;
  background-color: aliceblue;
  box-sizing: border-box;
  padding: 3% 2%;
  border: 1px solid black;
  box-shadow: 10px 15px 0px;
}
table{
  width: 100%;
}
td,th {
  padding: 5px 10px;
}

.input-hover:hover{
  cursor: pointer ;
  background-color: #CEDEF4 ;
}